exportPattern("^[[:alpha:]]+")
useDynLib(STcompare, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
S3method("[",STcompareResult)
S3method(as.data.frame,STcompareResult)
S3method(print,STcompareResult)
S3method(print,summary.STcompareResult)
S3method(summary,STcompareResult)
